meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="theme-color", content=theme)
meta(name="description", content=infoDescription)
meta(name="keywords", content=keywords.toString())
meta(property="fb:app_id", content=fbAppId)
meta(property="og:image" content=image.alt)
meta(property="og:image:secure_url" content=image.alt)
meta(property="og:image:type" content=image.type)
meta(property="og:image:width" content=image.width)
meta(property="og:image:height" content=image.height)
meta(property="og:image:alt", content=image.alt)
meta(property="og:description", content=image.description)
link(rel="manifest", href="../../manifest.json")
